<a href="https://colab.research.google.com/github/sowjanyad1412/-ML-Credit-card-fraud-using-Logistic-regression/blob/main/Credit_card_fraud_using_Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importhing the dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#loading data set to pandas data frame
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27        V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.0210531  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.0147242    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.0597518  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.0614576  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422   0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
#bottom 5 rows of the data set
credit_card_data.tail()

         Time         V1         V2  ...                 V28  Amount  Class
136737  81844 -10.972016 -10.165075  ...   -1.41864956210692  117.02    0.0
136738  81844   1.424511  -1.481277  ...  0.0310399021239038   58.00    0.0
136739  81845   1.067404   0.087153  ...  0.0222817106909724   85.90    0.0
136740  81846  -0.833219   0.746826  ...  0.0384589819489235    6.80    0.0
136741  81847  -0.418805   0.740210  ...                   -     NaN    NaN

[5 rows x 31 columns]

In [ ]:
#information about the dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136742 entries, 0 to 136741
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    136742 non-null  int64
 1   V1      136742 non-null  float64
 2   V2      136742 non-null  float64
 3   V3      136742 non-null  float64
 4   V4      136742 non-null  float64
 5   V5      136742 non-null  float64
 6   V6      136742 non-null  float64
 7   V7      136742 non-null  float64
 8   V8      136742 non-null  float64
 9   V9      136742 non-null  float64
 10  V10     136742 non-null  float64
 11  V11     136742 non-null  float64
 12  V12     136742 non-null  float64
 13  V13     136742 non-null  float64
 14  V14     136742 non-null  float64
 15  V15     136742 non-null  float64
 16  V16     136742 non-null  float64
 17  V17     136742 non-null  float64
 18  V18     136742 non-null  float64
 19  V19     136742 non-null  float64
 20  V20     136742 non-null  float64
 21  V21     136742 non-null  float64
 22  V22     136742 non-null  float64
 23  V23     136742 non-null  float64
 24  V24     136742 non-null  float64
 25  V25     136742 non-null  float64
 26  V26     136742 non-null  float64
 27  V27     136742 non-null  float64
 28  V28     136742 non-null  object
 29  Amount  136741 non-null  float64
 30  Class   136741 non-null  float64
dtypes: float64(29), int64(1), object(1)
memory usage: 32.3+ MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    136478
1.0       263
Name: Class, dtype: int64

THISS DATA SET IS HIGHLY UNBALANCED

THE LABEL 0 REPRESEENTS NORMAL TRANSACTION

THE LABEL 1 REPRESENTS FRADULENT TRANSACTION

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(136478, 31)
(263, 31)

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    136478.000000
mean         91.548835
std         248.415077
min           0.000000
25%           6.052500
50%          24.000000
75%          81.460000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     263.000000
mean      115.821939
std       245.555287
min         0.000000
25%         1.000000
50%         9.990000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V26       V27      Amount
Class                                    ...
0.0    51141.665880 -0.235795  0.003103  ...  0.023141 -0.000198   91.548835
1.0    42268.619772 -5.626583  3.954001  ...  0.057140  0.491224  115.821939

[2 rows x 29 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 263

In [ ]:
legit_sample = legit.sample(n=263)

Concatinating two data frames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

         Time        V1        V2        V3  ...       V27        V28  Amount  Class
26033   33879 -0.688170  1.384550  0.926865  ...  0.119912  0.0361164    8.96    0.0
124268  77236  0.407185 -1.973379 -0.062298  ... -0.019189  0.0948949  464.46    0.0
42851   41273  0.839785 -1.537929  0.914883  ...  0.032323  0.0655263  247.46    0.0
6674     8258  1.050585  0.425033  1.165439  ... -0.008053  0.0081798    7.55    0.0
107298  70375  1.424164 -0.926345 -0.602052  ...  0.039894  0.0198125   14.99    0.0

[5 rows x 31 columns]

In [ ]:
new_dataset.tail()

         Time        V1        V2  ...                V28  Amount  Class
124176  77202 -0.356326  1.435305  ...           0.101526    1.00    1.0
125342  77627 -7.139060  2.773082  ...           0.409424  106.90    1.0
128479  78725 -4.312479  1.886476  ...         0.00145356   60.00    1.0
131272  79540 -0.114361  1.036129  ...  0.223924333790406    0.20    1.0
135718  81372 -0.885254  1.790649  ...  0.176735548819463    7.57    1.0

[5 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

1.0    263
0.0    263
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V26       V27      Amount
Class                                    ...
0.0    49779.908745 -0.275076  0.144661  ...  0.003323 -0.041494   87.421065
1.0    42268.619772 -5.626583  3.954001  ...  0.057140  0.491224  115.821939

[2 rows x 29 columns]

Splitting the data into Features & Targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

         Time        V1        V2  ...       V27                V28  Amount
26033   33879 -0.688170  1.384550  ...  0.119912          0.0361164    8.96
124268  77236  0.407185 -1.973379  ... -0.019189          0.0948949  464.46
42851   41273  0.839785 -1.537929  ...  0.032323          0.0655263  247.46
6674     8258  1.050585  0.425033  ... -0.008053          0.0081798    7.55
107298  70375  1.424164 -0.926345  ...  0.039894          0.0198125   14.99
...       ...       ...       ...  ...       ...                ...     ...
124176  77202 -0.356326  1.435305  ...  0.114328           0.101526    1.00
125342  77627 -7.139060  2.773082  ... -0.766848           0.409424  106.90
128479  78725 -4.312479  1.886476  ... -0.918888         0.00145356   60.00
131272  79540 -0.114361  1.036129  ...  0.129969  0.223924333790406    0.20
135718  81372 -0.885254  1.790649  ...  0.506893  0.176735548819463    7.57

[526 rows x 30 columns]

In [ ]:
print(Y)

26033     0.0
124268    0.0
42851     0.0
6674      0.0
107298    0.0
         ...
124176    1.0
125342    1.0
128479    1.0
131272    1.0
135718    1.0
Name: Class, Length: 526, dtype: float64


Split the data into Training data & Testing Data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(526, 30) (420, 30) (106, 30)

Model training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9476190476190476

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9622641509433962